{
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "transform-class-properties"
      ]
    }
  },
  "plugins": [
    "transform-es2015-modules-commonjs",
    "dynamic-import-node",
    "transform-class-properties"
  ]
}